@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.my-custom-button {
  background: linear-gradient(90deg, rgba(157, 13, 61, 0.1) -10.64%, #DF522B 51.94%, rgba(199, 125, 44, 0.1) 116.51%);
  box-shadow: 0px 1px 2px 0px #0000001F;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
